test/unittests/resources/testDescribeFeatureTypeResonse_nrw.xml


<schema targetNamespace="http://www.geobasis.nrw.de" xmlns:tfis="http://www.geobasis.nrw.de" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="0.1" >
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
  <element name="SWD01_P" type="tfis:SWD01_PType" substitutionGroup="gml:_Feature" />
  <complexType name="SWD01_PType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="msGeometry" type="gml:GeometryPropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="LAND" minOccurs="0" type="string"/>
          <element name="MODELLART" minOccurs="0" type="string"/>
          <element name="OBJART" minOccurs="0" type="string"/>
          <element name="OBJART_TXT" minOccurs="0" type="string"/>
          <element name="OBJID" minOccurs="0" type="string"/>
          <element name="BEGINN" minOccurs="0" type="string"/>
          <element name="FKT" minOccurs="0" type="string"/>
          <element name="NAM" minOccurs="0" type="string"/>
          <element name="INF" minOccurs="0" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="SWD02_P" type="tfis:SWD02_PType" substitutionGroup="gml:_Feature" />
  <complexType name="SWD02_PType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="msGeometry" type="gml:GeometryPropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="LAND" minOccurs="0" type="string"/>
          <element name="MODELLART" minOccurs="0" type="string"/>
          <element name="OBJART" minOccurs="0" type="string"/>
          <element name="OBJART_TXT" minOccurs="0" type="string"/>
          <element name="OBJID" minOccurs="0" type="string"/>
          <element name="BEGINN" minOccurs="0" type="string"/>
          <element name="FKT" minOccurs="0" type="string"/>
          <element name="NAM" minOccurs="0" type="string"/>
          <element name="INF" minOccurs="0" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
<element name="SWD03_P" type="tfis:SWD03_PType" substitutionGroup="gml:_Feature" />
  <complexType name="SWD03_PType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="msGeometry" type="gml:GeometryPropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="LAND" minOccurs="0" type="string"/>
          <element name="MODELLART" minOccurs="0" type="string"/>
          <element name="OBJART" minOccurs="0" type="string"/>
          <element name="OBJART_TXT" minOccurs="0" type="string"/>
          <element name="OBJID" minOccurs="0" type="string"/>
          <element name="BEGINN" minOccurs="0" type="string"/>
          <element name="BLR" minOccurs="0" type="string"/>
          <element name="BLW" minOccurs="0" type="string"/>
          <element name="NAM" minOccurs="0" type="string"/>
          <element name="INF" minOccurs="0" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>
